* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
  display: grid;
  justify-content: center;
}

.container{
  color: offwhite;
  background-color: #333;
  display: grid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  

}

